html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}

/* General container for the app */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url('./background.png');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  min-height: 100vh;
  padding: 10px;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.1); 
  width: 100%;
  margin: auto;
}


.title-container {
  background: rgba(255, 255, 255, 0.952);
  border-radius: 10px; 
  padding: 10px 20px; 
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

/* Image container */
.image {
  width: 100px; 
  height: 100px; 
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 5px;
  transition: background-color 0.3s ease;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image.matched {
  opacity: 0.5;
  pointer-events: none;
}


h1 {
  font-family: 'Luckiest Guy', cursive;
  color: #333;
  font-size: 24px; 
  text-align: center;
}

.points-box {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 5px 0px; 
  margin: 10px auto; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px; 
  font-weight: bold;
  width: 10%; 
}

.game-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%; 
  gap: 10px;
}

.matched {
  opacity: 0.5;
  pointer-events: none;
}

/* Word element */
.word {
  background: rgba(255, 255, 255, 0.952);
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 20px; 
  cursor: grab;
  transition: transform 0.2s;
  margin-bottom: 25px;
  margin-top: 5px;
  transition: opacity 0.2s ease;
}


.word:hover, .image:hover {
  transform: scale(1.05);
}

/* Shake animation for incorrect boxes */
.shake-box {
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10% { transform: translateX(-10px); }
  20% { transform: translateX(10px); }
  30% { transform: translateX(-10px); }
  40% { transform: translateX(10px); }
  50% { transform: translateX(-15px); }
  60% { transform: translateX(15px); }
  70% { transform: translateX(-15px); }
  80% { transform: translateX(15px); }
  90% { transform: translateX(-5px); }
}


.popup {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 20px 20px; 
  border-radius: 20px; 
  font-size: 60px; 
  text-align: center;
  opacity: 0.9;
  z-index: 1000;
}

/* Circle elements */
.imageCircle, .wordCircle {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border: 2px solid #333333;
  border-radius: 50%;
  margin: 5px; 
}

.wordCircle {
  margin-bottom: 25px;
  margin-left: 10px;
}

.imageCircle {
  margin-right: 15px;
}

.matched-circle {
  background-color: #4CAF50;
}

.word-container, .image-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}
